header {
    /* Elementos en horizontal */
    display: flex;
    justify-content: space-between;
    background-color: royalblue;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo{
    display: flex;

}

.logo img{
    height: 75px;

}


main {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100px;
    padding: 10px;
    background-color: red;
}




body {
    margin: 0;
    padding: 0;
    height: 100%; 
}

