html {
    scroll-behavior: smooth;
}

botonBusqueda {
    padding: 5px 10px;
    /* Ajusta el relleno para cambiar el tamaño */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
}

* {
    /* Limitar el tamaño margin,padding...  */
    box-sizing: border-box;
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

button {
    font-size: 2em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
    color: white;
    background-color: blue;
}

button:hover {
    background-color: rgb(81, 81, 240);
}

.container {
    display: flex;
    max-width: 1300px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

header.logo {
    margin: 0px;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.7em;

}

header.nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.nav a:hover,
.barraNavegador a:hover {
    color: purple;
    /* Cambia a morado al pasar el mouse */
}

header a.hover {
    color: purple;
}

#hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Esto asegura que la imagen cubra todo el espacio sin distorsionarse */
    z-index: -1;
    /* Esto asegura que la imagen quede detrás del texto */
    opacity: 0.5;
    /* Ajusta la transparencia de la imagen de fondo */
}

#hero h1,
#hero .enlace-articulos {
    position: relative;
    z-index: 1;
}

#hero h1 {
    color: blue;
}

#hero button {
    font-size: 1.75em;

}

#somosPillando .container {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 200px 12px
}

#somosPillando .img-container {
    background-image: url("images/logo2.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 400px;
    margin-right: 20px;
}

#somosPillando .texto {
    width: 50%;
    text-align: left;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: whitesmoke;
    /* Elementos en horizontal */
    display: flex;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    top: 0;
}

#ultimasNoticias {
    background-color: black;
    color: white;
    text-align: center;

}

#ultimasNoticias.container {
    padding: 150px 12px;
}

#ultimasNoticias p {
    display: none;
}

#ultimasNoticias h2 {
    margin-top: 0px;
    font-size: 3em;
}

#ultimasNoticias .container {
    max-width: 1200px; 
    margin: auto;
}

#ultimasNoticias .triptico {
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 12px;
}
.triptico {
    flex-basis: 30%; 
    margin-bottom: 20px;
}

.triptico-img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
}

.triptico-text {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 15px;
    border-radius: 5px; 
    margin-top: -5px; 
}
.triptico:first-child {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('images/noticia1.jpg');
    background-size: cover;
    background-position: center;

}

.triptico:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('images/noticia2.jpg');
    background-size: cover;
    background-position: center;

}

.triptico:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('images/noticia3.jpg');
    background-size: cover;
    background-position: center;
}

.triptico-img {
    width: 100%; 
    border-radius: 10px; 
    margin-bottom: 15px; 
}

.triptico-text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px; 
    border-radius: 10px; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 75px;
    margin-right: 10px;

}

a {
    color: black;

}

nav a {
    font-weight: 650px;
    padding-right: 10px;
}

nav a:hover {
    color: white;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100px;
    padding: 10px;
    background-color: red;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    height: 100%;
}

#fiabilidad .container {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 100px 12px; 
    max-width: 1200px;
    margin: auto;
}

#fiabilidad .fiabilidad-img {
    width: calc(50% - 5px);
    max-width: 400px; 
    margin-right: 5px; 
}

#fiabilidad .fiabilidad-list {
    width: calc(50% + 5px);
    margin: 0;
    padding: 0; 
    list-style: none;
}

#fiabilidad .fiabilidad-list li {
    margin: 12px 0;
    font-weight: bold;
    font-size: 1.2rem; 
}


#donativos {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 80vh;
}

#donativos h2 {
    font-size: 9vw;
}

.donativos-button {
    display: inline-block;
    padding: 15px 30px; 
    background-color: #4CAF50; 
    color: white; 
    text-decoration: none; 
    font-size: 2vw; 
    border-radius: 5px; 
}

.donativos-button:hover {
    background-color: #367B48; 
    cursor: pointer; 
}


footer {
    background-color:whitesmoke;
    color: black;
    padding: 20px 0;
}

footer p {
    text-align: center;
    margin: 0;
    padding: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 100px;
    transition: transform 0.5s ease;
}

.social-links img:hover {
    transform: scale(1.1); 
}

@media(min-width:720px) {
    header {
        position: fixed;
        width: 100%;
    }

    header.container {
        flex-direction: row;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;
    }

    hero h1 {
        font-size: 5em;
    }

    #somosPillando.container {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 50px 12px;

    }

    #somosPillando .img-fluid {
        flex-shrink: 0;
        height: auto;
        width: 400px;
        margin-right: 20px;
    }

    #somosPillando .texto {
        width: 50%;
        text-align: left;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somosPillando h2 {
        margin-top: 0px;
    }

    #ultimasNoticias.noticias {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #ultimasNoticias.triptico {
        padding: 15px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(45, 45, 45, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    #ultimasNoticias p {
        display: block;
        margin-bottom: 30px;
    }

    #ultimasNoticias h2 {
        margin-top: 0px;
        font-size: 4em;
    }

    .triptico:first-child {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),

            /* imagen nueva */
            /* url(images/heroimage.jpg); */

    }

    .triptico:nth-child(2) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),
            /* imagen nueva */
            /* url(images/heroimage.jpg); */

    }

    .triptico:nth-child(3) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)),
            /* imagen nueva */
            /* url(images/heroimage.jpg); */

    }

    #fiabilidad {
        background-image: none;
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw-500px) 120px;

    }


}

#fiabilidad.container {
    text-align: initial;

}

#fiabilidad ul {
    margin-left: 100px;
}


#donativos h2 {
    font-size: 5em;
}

#donativos button {
    font-size: 2em;
}

footer.container {
    justify-items: flex-end;
}

@media(min-width: 1200px) {
    #fiabilidad {
        background-position-x: calc(100vw -800px);
    }
}



/* ESTILOS DEL HEADER */
/* Estilos para el contenedor principal dentro del header */
.container {
    display: flex;
    /* Usa flexbox para alinear los elementos horizontalmente */
    align-items: center;
    /* Alinea verticalmente los elementos en su centro */
    justify-content: space-between;
    /* Separa el contenido a lo largo del contenedor */
}

/* Estilos para el logotipo */
.logoImg {
    height: 75px;
    /* Reduce el tamaño del logotipo */
    width: auto;
    /* Mantiene la proporción del logotipo */
}

/* Estilos para el nombre del logotipo, si es necesario */
.logoNombre {
    margin-left: 10px;
    /* Añade un margen si deseas separar el texto del logotipo de la imagen */
}

/* Estilos para la sección de búsqueda */
#busqueda {
    display: flex;
    /* Usa flexbox para alinear el campo de búsqueda y el botón */
    align-items: center;
    /* Alinea los elementos internos en el centro */
}

/* Estilos para el botón de búsqueda, ajusta según necesites */
.botonBusqueda {
    font-size: 0.8em;
    /* Reduce el tamaño del texto */
    padding: 5px 10px;
    /* Reduce el relleno para disminuir el tamaño del botón */
    transition: background-color 0.3s;
    /* Hace que el cambio de color sea más suave */
    cursor: pointer
}

.botonBusqueda:hover {
    background-color: purple;
}

/* Estilos para la barra de navegación si es necesaria alguna modificación */
.barraNavegador,
#busqueda {
    display: flex;
    /* Esto asegura que los enlaces se alineen horizontalmente */
    align-items: center;
}

.barraNavegador a {
    margin: 0 10px;
    /* Ajusta el espaciado según necesites */
    text-decoration: none;
    /* Remueve el subrayado del texto */
    color: black;
    /* Ajusta el color del texto */
    background-color: transparent;
    /* Asegura que el fondo sea transparente */
    border: none;
    /* Remueve cualquier borde */
}